.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.white {
  background: white;
  margin: 20px;
  padding: 30px 50px 30px 50px;
}

.half {
  float: left;
  width: 50%;
}

.link {
  color: blue;
}

.kod {
  color: gray;
}

.right {
  float: right;
  margin: 8px;
}

.toggle-container, .toggle-button, .date * {
  border: 1px solid #00b3ee;
  color: #00b3ee;
}

.toggle-container {
  height: 34px;
  width: 96px;
}

.toggle-button {
  float: left;
  height: 100%;
  width: 16px;
}

.toggle-text {
  margin: 4px 0 0 32px;
}

.date {
  width: 128px;
}

.date * {
  background-color: inherit;
}

.date input {
  border-right: 0;
  padding: 6px 1px 6px 12px;
}

.input-group-addon {
  padding: 6px 12px 6px 8px;
}

.search {
  height: 34px;
  width: 256px;
}

.table-container {
  border: 1px solid;
  border-color: #ADADAD;
  display: inline-block;
  margin: 16px 0;
  padding: 16px;
  width: 100%;
}

.table {
  width: 100%;
}

.table td {
  border-bottom: 1px solid #ddd;
  border-top: 0 !important;
}

.top-row td, .top-row th {
  background-color: #f9f9f9;
  border-bottom: 0 !important;
}

.bold {
  font-weight: bold;
}

.glyphicon-chevron-down, .glyphicon-chevron-up {
  color: #ADADAD;
  font-size: 10px;
}

.pp {
  font-size: 20px;
  font-weight: bold;
}

.pp-expanded {
  color: #00b3ee;
}
